
  
  body{
background-image: url('https://e0.pxfuel.com/wallpapers/707/948/desktop-wallpaper-joker-neon-joker.jpg');
background-size:cover;
background-attachment:local;
background-position: center;
background-repeat: no-repeat;

    background-color: black;
    
}
@keyframes glitch {
    0% { text-shadow: 2px 2px wheat, -2px -2px whitesmoke; }
    50% { text-shadow: -2px -2px white, 2px 2px white ; }
    100% { text-shadow: 2px -2px white, -2px 2px white; }
}

.glitch {
    margin-top: 0;
    text-align: center;
    animation: glitch 1.8s infinite alternate;
   
}
.glitch2{
    animation: glitch 0.9s infinite alternate;
    color:#0dcf42;
    margin-bottom: 0;
    margin-top: 0;
}
.glitch3{
    animation: glitch 1.5s infinite alternate;
    color:#0dcf42;
    margin-bottom: 0;
    margin-top: 0;
}
table{
    margin: auto;
    display: inline-block;
    color:whitesmoke;
    position: absolute;
    top: 60%;
    left: 51.75%;
    transform: translate(-50%, -50%);
   
}
h1,  h3, h4 {
    color: #00A86B;
}
h2{
    text-align: center;
  
    color:#9257ff;
    font-size: 50px;
}
h3 {
    font-size: 50px;
    color: #911e2b;
}
img{
    display: block;
    max-width: 100%;
    height: 35%;

    margin: 0 auto 0px ;
   
}
/* Clearfix to clear floats */
.clearfix::after {
    content: "";
    display: table;
    clear: both; /* Clear both left and right floats */
}


input[type="submit"],
input[type="reset"] {
    border-radius: 30px;
    background-color: #800080; /* Purple background */
    color: white; /* White text */
    border: 2px solid #00A86B; /* Green border */
    padding: 8px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.1s ease-in-out, transform 0.1s;
    font-family: "Eater", serif;
    
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #00a86abf; /* Green on hover */
    color:#f2d8ff; /* Optional: change text color on hover */
    transform: scale(1.05); /* Slight pop effect */
    font-size: 15px;
}


.container{
    margin:auto;
    
}



  .left{
   
    float: left;
  }

  .right{
   
    float: right;
   
  }
  p{
    color: white;
    text-align: center;
  }
  .sign { 
    color: #911e2b;
    font-family: "Cedarville Cursive", serif;
    font-weight: 400;
    font-size: 120px;
    text-align: center;
    margin-top: 0%;
  }
  .sig{
    font-size: 30px;
    text-align: center;
    margin-bottom: 0;
  }
  footer{
 
    padding: 20px;
    text-align: center;
    width: 100%;
  }
  footer h2 {
    color:#0dcf42;
  }
